/* this is my styles sheet */

/* First Tag Styles */

body {font-family: "Roboto", sans-serif;
      background-color:#221E1D;}
      
table, th, td {
    font-family:  "Roboto", sans-serif;   
    font-size: 0.95em;
    border: 1px solid black;
            }

table {
                width: 100%;
                border: 0cm;
            }
            
th {
                height: 50px;
                border: 2px inset #757575;
            }

td {
    border: 0cm;

}

h2, h3, h4 {
    color: #E9633B;
}           

hr {
    height: 1px;
    color: #E9633B;
    background: #E9633B;
    font-size: 0;
    border: 0;
}



section {
    margin: 0 1.5%;
    margin-left: 75px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: 5px outset #757575;
    background-color: #ECEAE0;
    font-size: 11pt;
    
}


/* ID Styles use HASH */ 

/* #almond {color: blanchedalmond;}
#chartreus {color: chartreuse;} */



/* Class . symbol for a class
.dark {background-color: black;
color: aliceblue;}

.midtone{background-color: beige;
color: darkmagenta;} */
